<form [formGroup]="grupo" (ngSubmit)="enviar()">
    <input id="nombre" type="text" formControlName="nombre" placeholder="Nombre">
    <input id="apellido" type="text" formControlName="apellido" placeholder="Apellido">
    <input id="dni" type="text" formControlName="dni" placeholder="DNI">

    <div *ngIf="dni.invalid && (dni.dirty || dni.touched)" class="alert alert-danger">

        <div *ngIf="dni.errors?.['required']">
            Tienes que rellenar el DNI.
        </div>
        <div *ngIf="dni.errors?.['pattern']">
            Tienes que usar el formato adecuado de DNI
        </div>
        <div *ngIf="dni.errors?.['dni']">
            El cálculo de letra de DNI no es correcto 
        </div>
    </div>

    <div formArrayName="colegas">
        <input *ngFor="let colega of colegas.controls; let i=index" id="colega-{{i}}" [formControlName]="i"
            placeholder="colega {{i+1}}">
    </div>
    <button (click)="nuevoColega()">Nuevo colega</button>

    <button>Aceptar</button>
</form>

<pre>{{grupo.status}}</pre>
<pre>{{grupo.value | json}}</pre>