<app-login (onLogin)="login($event)"></app-login>

<app-labelinput id="fecha" etiqueta="Fecha" tipo="date" 
    [dato]="fecha" (datoChange)="fecha=$event"></app-labelinput>
<app-labelinput id="fecha" etiqueta="Fecha" tipo="date" 
    [(dato)]="fecha"></app-labelinput>

La fecha seleccionada es {{fecha}}

<app-titulo></app-titulo>
<app-titulo texto="Prueba"></app-titulo>
<app-titulo texto="Color verde" color="green"></app-titulo>
<app-titulo texto="Algo" color="green" 
imagen="assets/imgs/logo.png"></app-titulo>
